<section class="about__page">
    <h1 class="title">Rick and Morty GraphQL APP</h1>
    <div class="about__container">
        <p class="about__paragraph">
            Angular 11 + Rick and Morty API.
            Sitio web acerca de la serie Rick and Morty mostrando sus episodios y personajes de la serie
        </p>
        <figure class="about__img">
            <img src="/assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406" height="306">
        </figure>
    </div>
    <p class="about__copy">
        Developed by <a href="https://github.com/jecs580" target="_blank"><span class="text-white">Jorge Callisaya</span></a>
    </p>
</section>